.projects-table-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.projects-table-container h1 {
  text-align: start;
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

.add-project-button-position {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 10px 15px;
  font-size: 16px;
  z-index: 1000;
}
