/* Dimensões */
.width-total {
  width: 100%;
}

/* Estilos para botões */

.button {
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-green {
  background-color: #28a745;
  color: white;
}

.button-green:hover {
  background-color: #218838;
}

.button-red {
  background-color: #dc3545;
  color: white;
}

.button-red :hover {
  background-color: #c82333;
}

.button-blue {
  background-color: #007bff;
  color: white;
}

.button-blue:hover {
  background-color: #0056b3;
}

.button-gray {
  background-color: #6c757d;
  color: #fff;
}

.button-gray:hover {
  background-color: #5a6268;
}

.button-top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 16px;
  z-index: 1000;
}

/* Estilos para modal */

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-close-button {
  align-self: flex-end;
  color: rgb(196, 193, 193);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para input */

.input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
